/*------------------------------------------------------------------

-------------------------------------------------------------------*/
/* ==============================================================
   GLOBAL STYLES
   ============================================================== */
/* remove codrops styles and reset the whole thing */
#container_demo{
	 text-align: left;
	 margin: 0;
	 padding: 0;
	 margin: 0 auto;
	 font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}


/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
	display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
	width: 60%;
	right: 0px;
	min-height: 560px;	
	margin: 0px auto;	
	width: 500px;
	position: relative;	
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
	color: rgb(95, 155, 198);
	text-decoration: underline;
}

#wrapper h1{
	font-size: 48px;
	color: rgb(6, 106, 117);
	padding: 2px 0 10px 0;
	font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
	font-weight: bold;
	text-align: center;
	padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(18, 83, 93) , 
	rgb(18, 83, 93) 20px, 
	rgb(64, 111, 118) 20px, 
	rgb(64, 111, 118) 40px, 
	rgb(18, 83, 93) 40px);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}
#wrapper h1:after{
	content: ' ';
	display: block;
	width: 100%;
	height: 2px;
	margin-top: 10px;
	background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
	background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
	background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

#wrapper p{
	margin-bottom:15px;
}
#wrapper p:first-child{
	margin: 0px;
}
#wrapper label{
	color: rgb(64, 92, 96);
	position: relative;
}

/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder  { 
	color: rgb(190, 188, 188); 
	font-style: italic;
}
input:-moz-placeholder,
textarea:-moz-placeholder{ 
	color: rgb(190, 188, 188);
	font-style: italic;
} 
input {
  outline: none;
}

/* all the input except submit and checkbox */
#wrapper input:not([type="checkbox"]){
	width: 92%;
	margin-top: 4px;
	padding: 10px 5px 10px 32px;	
	border: 1px solid rgb(178, 178, 178);
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	  -moz-box-sizing : content-box;
	       box-sizing : content-box;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper input:not([type="checkbox"]):active,
#wrapper input:not([type="checkbox"]):focus{
	border: 1px solid rgba(91, 90, 90, 0.7);
	background: rgba(238, 236, 240, 0.2);	
	-webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	   -moz-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
	        box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.9) inset;
} 

/** the magic icon trick ! **/
[data-icon]:after {
    content: attr(data-icon);
    font-family: 'FontomasCustomRegular';
    color: rgb(106, 159, 171);
    position: absolute;
    left: 10px;
    top: 35px;
	width: 30px;
}

/*styling both submit buttons */
#wrapper p.button input{
	width: 30%;
	cursor: pointer;	
	background: rgb(61, 157, 179);
	padding: 8px 5px;
	font-family: 'BebasNeueRegular','Arial Narrow',Arial,sans-serif;
	color: #fff;
	font-size: 24px;	
	border: 1px solid rgb(28, 108, 122);	
	margin-bottom: 10px;	
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
	        border-radius: 3px;	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	   -moz-box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	        box-shadow:0px 1px 6px 4px rgba(0, 0, 0, 0.07) inset,
	        0px 0px 0px 3px rgb(254, 254, 254),
	        0px 5px 3px 3px rgb(210, 210, 210);
	-webkit-transition: all 0.2s linear;
	   -moz-transition: all 0.2s linear;
	     -o-transition: all 0.2s linear;
	        transition: all 0.2s linear;
}
#wrapper p.button input:hover{
	background: rgb(74, 179, 198);
}
#wrapper p.button input:active,
#wrapper p.button input:focus{
	background: rgb(40, 137, 154);
	position: relative;
	top: 1px;
	border: 1px solid rgb(12, 76, 87);	
	-webkit-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	   -moz-box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
	        box-shadow: 0px 1px 6px 4px rgba(0, 0, 0, 0.2) inset;
}
p.login.button,
p.signin.button{
	text-align: right;
	margin: 5px 0;
}


/* styling the checkbox "keep me logged in"*/
.keeplogin{
	margin-top: -5px;
}
.keeplogin input,
.keeplogin label{
	display: inline-block;
	font-size: 12px;	
	font-style: italic;
}
.keeplogin input#loginkeeping{
	margin-right: 5px;
}
.keeplogin label{
	width: 80%;
}


/*styling the links to change from one form to another */

p.change_link{
	position: absolute;
	color: rgb(127, 124, 124);
	left: 0px;
	height: 20px;
	width: 440px;
	padding: 17px 30px 20px 30px;
	font-size: 16px	;
	text-align: right;
	border-top: 1px solid rgb(219, 229, 232);
	-webkit-border-radius: 0 0  5px 5px;
	   -moz-border-radius: 0 0  5px 5px;
	        border-radius: 0 0  5px 5px;
	background: rgb(225, 234, 235);
	background: -moz-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -webkit-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: -o-repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
	background: repeating-linear-gradient(-45deg, 
	rgb(247, 247, 247) , 
	rgb(247, 247, 247) 15px, 
	rgb(225, 234, 235) 15px, 
	rgb(225, 234, 235) 30px, 
	rgb(247, 247, 247) 30px
	);
}
#wrapper p.change_link a {
	display: inline-block;
	font-weight: bold;
	background: rgb(247, 248, 241);
	padding: 2px 6px;
	color: rgb(29, 162, 193);
	margin-left: 10px;
	text-decoration: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: 1px solid rgb(203, 213, 214);
	-webkit-transition: all 0.4s linear;
	-moz-transition: all 0.4s  linear;
	-o-transition: all 0.4s linear;
	-ms-transition: all 0.4s  linear;
	transition: all 0.4s  linear;
}
#wrapper p.change_link a:hover {
	color: rgb(57, 191, 215);
	background: rgb(247, 247, 247);
	border: 1px solid rgb(74, 179, 198);
}
#wrapper p.change_link a:active{
	position: relative;
	top: 1px;
}
/** Styling both forms **/
#register, 
#login{
	position: absolute;
	top: 0px;
	width: 88%;	
	padding: 18px 6% 60px 6%;
	margin: 0 0 35px 0;
	background: rgb(247, 247, 247);
	border: 1px solid rgba(147, 184, 189,0.8);
	-webkit-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	   -moz-box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	        box-shadow: 0pt 2px 5px rgba(105, 108, 109,  0.7),	0px 0px 8px 5px rgba(208, 223, 226, 0.4) inset;
	-webkit-box-shadow: 5px;
	-moz-border-radius: 5px;
		 border-radius: 5px;
}
#register{	
	z-index: 21;
	opacity: 0;
}
#login{
	z-index: 22;
}
#toregister:target ~ #wrapper #register,
#tologin:target ~ #wrapper #login{
	z-index: 22;
	-webkit-animation-name: fadeInLeft;
	-moz-animation-name: fadeInLeft;
	-ms-animation-name: fadeInLeft;
	-o-animation-name: fadeInLeft;
	animation-name: fadeInLeft;
	-webkit-animation-delay: .1s;
	-moz-animation-delay: .1s;
	-o-animation-delay: .1s;
	-ms-animation-delay: .1s;
	animation-delay: .1s;
}
#toregister:target ~ #wrapper #login,
#tologin:target ~ #wrapper #register{
	-webkit-animation-name: fadeOutLeft;
	-moz-animation-name: fadeOutLeft;
	-ms-animation-name: fadeOutLeft;
	-o-animation-name: fadeOutLeft;
	animation-name: fadeOutLeft;
}

/** the actual animation, credit where due : http://daneden.me/animate/ ***/
.animate{
	-webkit-animation-duration: 0.5s;
	-webkit-animation-timing-function: ease;
	-webkit-animation-fill-mode: both;
	
	-moz-animation-duration: 0.5s;
	-moz-animation-timing-function: ease;
	-moz-animation-fill-mode: both;
	
	-o-animation-duration: 0.5s;
	-o-animation-timing-function: ease;
	-o-animation-fill-mode: both;
	
	-ms-animation-duration: 0.5s;
	-ms-animation-timing-function: ease;
	-ms-animation-fill-mode: both;
	
	animation-duration: 0.5s;
	animation-timing-function: ease;
	animation-fill-mode: both;
}

/** yerk some ugly IE fixes 'cause I know someone will ask "why does it look ugly in IE?", no matter how many warnings I will put in the article */

.lt8 #wrapper input{
	padding: 10px 5px 10px 32px;
    width: 92%;
}
.lt8 #wrapper input[type=checkbox]{
	width: 10px;
	padding: 0;
}
.lt8 #wrapper h1{
	color: #066A75;
}
.lt8 #register{	
	display: none;
}
.lt8 p.change_link,
.ie9 p.change_link{
	position: absolute;
	height: 90px;
	background: transparent;
}
* {
  margin: 0px auto;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}
.cont_principal {
  position: absolute;
  width: 100%;
  height: 100%;
/* Rectangle 3: */
background-image: linear-gradient(-87deg, #F2F5F6 0%, #DDE5E8 100%);
}

.cont_centrar {
  position: absolute;
  width: 320px;
  left:50%;
  top:50%;
  margin-left: -160px;
  margin-top: -160px;
}

.cont_centrar {
  position: relative;
  width: 320px;
  float: left;
  background-image: linear-gradient(-226deg, #FFFFFF 8%, #EEF3F5 100%);

  border-radius: 8px;
transition: all 0.5s;
}

.cent_active {
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.21);
}


.cont_tabs_login {
position: relative;
  float: left;
  width: 100%;
}

.ul_tabs > li { 
position: relative;
  float: left;
  width: 50%;
  list-style: none;
  text-align: center;

}

.ul_tabs > li > a  {  
text-decoration: none;
font-family: Helvetica;
font-size: 16px;
    color: #999;
line-height: 14px;
padding: 20px ;
display: block;
transition: all 0.5s;
}

  .ul_tabs > .active > a  {  
color: #FF8383;

}

.linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
  background-color: #999;
  height: 2px;
}

.active .linea_bajo_nom {
  position: relative;
  width: 100%;
  float: left;
background-color: #FF8383;
height: 2px;
}

.cont_text_inputs {
position: relative;
  float: left;
  width: 100%;
  margin-top: 20px;
}

.input_form_sign {
  position: relative;
  float: left;
  width: 90%;
  border: none;
  border-bottom: 1px solid #B0BEC5 ;
  background-color: transparent;
  font-size: 14px;
  outline: none;
  transition: all 0.5s;
    height: 0px;
    margin: 0px;
    padding: 0px;  
opacity: 0;
display: none;
}

.active_inp {
  margin: 5% 5% ;  
  padding: 10px 0px;
  opacity: 1;
height: 5px;
}



.input_form_sign:focus {
  border-bottom: 1px solid #FF8383 ;}

.link_forgot_pass {
position: relative;
  margin-top: 0px;
  margin-left: 30%;
  text-decoration: none;
  color: #999;
  font-size: 13px;
  display: none;
  float: left;
  transition: all 0.5s;
}
.cont_btn {
  position: relative;
  float: left;
}

.btn_sign {
  background: rgba(255,64,88,0.74);
  box-shadow: 0px 2px 20px 2px rgba(255,114,132,0.50);
  border-radius: 8px;
  padding: 15px 30px;
  border: none;
  color: #fff;
  font-size: 14px;
  position: relative;  
  float: left;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.terms_and_cons {
  width: 70%;  
  color: #999;
  font-size: 13px;
  transition: all 0.5s;
}

.d_none {
  display: none;
}

.d_block {
  display: block;
}

.cont_text_inputs > input:nth-child(1){
  transition-delay: 0.2s;
}

.cont_text_inputs > input:nth-child(2){
  transition-delay: 0.4s;
}
.cont_text_inputs > input:nth-child(3){
  transition-delay: 0.6s;
}
.cont_text_inputs > input:nth-child(4){
  transition-delay: 0.8s;
}
 
body {
  font-family: 'Roboto', sans-serif; }

h1 {
  font-size: 72px;
  color: #000;
  font-weight: 300; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 52px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 47px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 35px; }
  @media (max-width: 992px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-size: 30px; }

h5 {
  font-size: 28px;
  color: #000;  }
  @media (max-width: 768px) {
    h5 {
      font-size: 22px; } }

h6 {
  font-size: 21px;
  font-weight: 400; }

p {
  font-size: 15px; }

.main-block {
  padding: 90px 0; }
  @media (max-width: 768px) {
    .main-block {
      padding: 45px 0; } }

.light-bg {
  background: #f3f4f7; }

.dark-bg {
  background: #252a33; }

/* ==============================================================
   HEADER
   ============================================================== */
.nav-menu {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto; }

.nav-menu-2 {
  position: inherit; }

.navbar {
  padding: .5rem 0; }

.navbar-brand {
  font-size: 31px; }

.navbar-light .navbar-brand {
  color: 0000; }
  .navbar-light .navbar-brand:hover {
    color: 000; }

.navbar-light .navbar-nav .show > .nav-link {
  color: 0000; }

.navbar-light .navbar-nav .active > .nav-link {
  color: #000; }

.navbar-light .navbar-nav .nav-link {
  font-size: 16px;
  font-weight: 300;
  color: #000; }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: #000;
    outline: none; }

.navbar-light .navbar-toggler {
  color: #000;
  border-color: #000; }

@media (max-width: 992px) {
  .navbar-nav {
    padding: 7px 20px; } }

.nav-item {
  margin: 0 20px 0 0; }
  .nav-item span {
    font-size: 10px;
    margin: 0 0 0 4px; }

.bg {
  width: 100%;
  height: 70px; }

.is-sticky {
  background: #252a33;
  opacity: 1; }

.transition {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out; }

.fixed {
  border-bottom: 1px solid #636363;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1; }
  @media (max-width: 992px) {
    .fixed {
      border: none;
      background: #252a33; } }

.dropdown-menu {
  background: #030303; }

.dropdown-item {
  color: #aaaaaa;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .dropdown-item:hover {
    color: #000;
    background: none; }

.ti-plus {
  font-size: 14px;
  padding: 0 8px 0 0; }

.slider {
  background: url(../images/slider.jpg) no-repeat;
  background-size: cover;
  min-height: 800px; }
  @media (max-width: 200px) {
    .slider {
      min-height: 700px; } }

.btn-outline-light {
  padding: 10px 16px; }
  @media (max-width: 992px) {
    .btn-outline-light {
      width: 25%; } }
  @media (max-width: 768px) {
    .btn-outline-light {
      width: 30%; } }
  @media (max-width: 576px) {
    .btn-outline-light {
      width: 40%; } }
  @media (max-width: 480px) {
    .btn-outline-light {
      width: 100%; } }
  .btn-outline-light:hover {
    color: #000; }

.slider-title_box {
  text-align: center; }

.slider-content_wrap h5 {
  color: #909090;
  font-weight: 400;
  margin: 24px 0; }

@media (max-width: 480px) {
  .form-wrap {
    margin: 0 !important; } }

.btn-group {
  width: 100%; }
  @media (max-width: 576px) {
    .btn-group {
      display: block; } }

.btn-group1 {
  padding: 24px;
  width: 65%;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border: none; }
  @media (max-width: 576px) {
    .btn-group1 {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 10px;
      padding: 17px; } }

.btn-group2 {
  position: relative;
  padding: 24px;
  width: 33%;
  border-top: none;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid #ccc; }
  @media (max-width: 576px) {
    .btn-group2 {
      width: 100%;
      border-radius: 3px;
      margin: 0 0 10px;
      padding: 17px; } }

.btn-form {
  font-weight: 400;
  font-size: 18px;
  padding: 17px;
  width: 27%;
  background: #EF2F21;
  color: #ffffff;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px; }
  @media (max-width: 768px) {
    .btn-form {
      width: auto; } }
  @media (max-width: 576px) {
    .btn-form {
      width: 100%;
      border-radius: 3px; } }

.search-icon {
  font-size: 15px;
  padding-right: 10px; }

.slider-link {
  color: #909090;
  margin: 45px 0 0;
  font-size: 19px; }
  @media (max-width: 480px) {
    .slider-link {
      margin: 18px 0 0; }
      .slider-link a,
      .slider-link span {
        display: block; } }
  .slider-link a {
    color: #909090;
    text-decoration: underline;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
    .slider-link a:hover {
      color: #fff; }
  .slider-link span {
    padding: 0 18px; }

/* ==============================================================
   FIND PLACES
   ============================================================== */
.styled-heading {
  text-align: center;
  margin: 0 0 50px; }
  @media (max-width: 768px) {
    .styled-heading {
      margin: 0 0 30px; } }
  .styled-heading h3 {
    position: relative;
    padding: 0 0 23px; }
    .styled-heading h3:after {
      position: absolute;
      content: "";
      width: 60px;
      height: 3px;
      background: #ff3a6d;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }

.find-img-align {
  padding: 0 0 15px; }
  @media (max-width: 768px) {
    .find-img-align {
      padding: 0; } }

/* ==============================================================
   FEATURED PLACES
   ============================================================== */
.featured-place-wrap {
  background: #fff;
  margin: 0 0 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative; }
  .featured-place-wrap:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3);
    box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3); }
  .featured-place-wrap a {
    display: block;
    text-decoration: none;
    color: #000; }
  .featured-place-wrap img {
    width: 100%; }

.featured-rating,
.featured-rating-orange,
.featured-rating-green {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: -33px 10px 0 0;
  font-size: 23px;
  background: #ff7474;
  color: #fff;
  padding: 14px;
  border-radius: 50%; }

.featured-rating-orange {
  background: #ffae00 !important; }

.featured-rating-green {
  background: #46cd38 !important; }

.featured-title-box {
  padding: 22px 20px; }
  @media (max-width: 480px) {
    .featured-title-box {
      padding: 22px 14px; } }
  .featured-title-box h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 5px; }
  .featured-title-box p {
    color: #9fa9b9;
    display: inline-block;
    margin: 0; }
    @media (max-width: 320px) {
      .featured-title-box p {
        font-size: 13px; } }
    .featured-title-box p span {
      color: #ffb006;
      padding: 0; }
  .featured-title-box span {
    color: #9fa9b9;
    padding: 0 10px; }
    @media (max-width: 320px) {
      .featured-title-box span {
        padding: 0 4px; } }
  .featured-title-box ul {
    padding: 0;
    margin: 10px 0 0; }
    .featured-title-box ul li {
      list-style: none;
      color: #737882;
      line-height: 2; }
      .featured-title-box ul li span {
        padding: 7px 8px 0 0; }
        @media (max-width: 1200px) {
          .featured-title-box ul li span {
            padding: 0 4px 0 0; } }
        @media (max-width: 320px) {
          .featured-title-box ul li span {
            font-size: 12px;
            padding: 0 2px 0 0; } }
      .featured-title-box ul li p {
        margin: 0; }

.bottom-icons {
  padding: 15px 0 0;
  line-height: 1; }
  .bottom-icons span {
    float: right;
    line-height: 1;
    padding: 0 0 0 12px; }

.closed-now {
  color: #ff3a6d;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.open-now {
  color: #46cd38;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.featured-btn-wrap {
  text-align: center; }
  @media (max-width: 1200px) {
    .featured-btn-wrap {
      margin: 3px 0 0; } }
  .featured-btn-wrap .btn-danger {
    background: #ff3a6d;
    padding: 16px 50px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    border: 0; }
    @media (max-width: 576px) {
      .featured-btn-wrap .btn-danger {
        width: 100%; } }
    .featured-btn-wrap .btn-danger:hover, .featured-btn-wrap .btn-danger:focus {
      background: #f34e79;
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none; }

/* ==============================================================
   CATEGORIES
   ============================================================== */
@media (max-width: 992px) {
  .category-responsive {
    max-width: 50%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%; } }

@media (max-width: 576px) {
  .category-responsive {
    max-width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%; } }

.category-wrap:hover {
  text-decoration: none; }

.category-wrap:hover .category-block {
  background: #f34e79;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-img path {
  text-decoration: none;
  fill: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.category-wrap:hover .category-block h6 {
  color: #fff;
  text-decoration: none; }

.category-block {
  margin: 0 auto;
  text-align: center;
  border: 1px solid #e5e7ef;
  padding: 30px;
  margin: 0 0 30px; }
  .category-block h6 {
    color: #3e434b;
    margin: 10px 0 0; }

.category-img {
  width: 64px;
  height: 64px; }

/* ==============================================================
   ADD LISTING
   ============================================================== */
.add-listing-wrap {
  text-align: center;
  margin: 0 0 36px; }
  .add-listing-wrap h2 {
    font-weight: 300; }
  .add-listing-wrap p {
    font-size: 22px;
    font-weight: 300;
    color: #737882; }

/* ==============================================================
   FOOTER
   ============================================================== */
footer {
  position: relative; }

.copyright {
  text-align: center; }
  .copyright p {
    font-size: 18px;
    font-weight: 400;
    color: #ccc;
    margin: 0; }
  .copyright ul {
    margin: 25px 0 0;
    padding: 0; }
    .copyright ul li {
      list-style: none;
      display: inline-block; }
      .copyright ul li a {
        color: #ccc;
        font-size: 22px;
        padding: 0 10px;
        opacity: 0.6;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        .copyright ul li a:hover {
          opacity: 1;
          text-decoration: none; }

/* ==============================================================
   SUB PAGES
   ============================================================== */
/* ==============================================================
   DETAIL PAGE
   ============================================================== */
.detail-filter-wrap {
  padding: 17px 0;
  border-bottom: 1px solid #e7e7e7; }
  .detail-filter-wrap p {
    font-size: 18px;
    color: #3e434b;
    font-weight: 300;
    margin: 6px 0 0; }
    .detail-filter-wrap p span {
      font-weight: 500; }

.detail-filter {
  text-align: right; }
  @media (max-width: 992px) {
    .detail-filter {
      text-align: left; } }
  .detail-filter p {
    font-weight: 300;
    color: #3e434b;
    font-size: 14px;
    display: inline-block;
    margin: 0 10px 0 0; }

.map-responsive-wrap {
  display: none; }
  @media (max-width: 992px) {
    .map-responsive-wrap {
      display: block; } }
  .map-responsive-wrap iframe {
    width: 100%;
    height: 800px; }

.map-icon {
  display: none;
  border: 1px solid #737882;
  color: #737882;
  padding: 8px 10px 2px 10px;
  margin: -46px 0 0;
  opacity: 0.6;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease; }
  .map-icon:hover {
    text-decoration: none;
    color: #737882;
    opacity: 1; }
  @media (max-width: 992px) {
    .map-icon {
      display: inline-block;
      text-align: right;
      float: right; } }
  @media (max-width: 480px) {
    .map-icon {
      float: left;
      margin: 10px 0 0; } }
  .map-icon span {
    font-size: 22px; }

.map-toggle {
  display: none; }

.filter-dropdown {
  display: inline-block; }
  .filter-dropdown select {
    border-radius: 0; }

.detail-checkbox-wrap {
  padding: 22px 0; }

.detail-options-wrap {
  padding: 15px 0; }

@media (max-width: 992px) {
  .responsive-wrap {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%; } }

/* 
   BOOKING PAGE
   */
/* ==============================================================
   RESERVE A SEAT
   ============================================================== */
.reserve-block {
  padding: 30px 0; }
  .reserve-block h5 {
    color: #3e434b;
    font-weight: 400;
    display: inline-block;
    margin: 0; }
  .reserve-block p {
    display: inline-block;
    font-size: 18px;
    color: #b2b8c3;
    font-weight: 400;
    padding: 0 0 0 8px;
    margin: 0 0 8px; }
    @media (max-width: 992px) {
      .reserve-block p {
        margin: 0; } }
    .reserve-block p span {
      color: #ffb006; }

.reserve-description {
  font-size: 15px !important;
  font-weight: 400 !important;
  padding: 0 !important;
  margin: 0 !important; }

.reserve-seat-block {
  text-align: right; }
  @media (max-width: 992px) {
    .reserve-seat-block {
      margin: 15px 0 0; } }
  @media (max-width: 768px) {
    .reserve-seat-block {
      text-align: left; } }
  @media (max-width: 576px) {
    .reserve-seat-block {
      text-align: center; } }

.reserve-rating {
  font-size: 23px;
  background: #46cd38;
  padding: 10px 14px;
  color: #fff;
  border-radius: 3px;
  display: inline-block;
  vertical-align: top; }

.review-btn {
  display: inline-block;
  text-align: center;
  margin: 3px 14px 0 14px; }
  @media (max-width: 1200px) {
    .review-btn {
      margin: 3px 4px 0 4px; } }
  @media (max-width: 576px) {
    .review-btn {
      margin: 3px 0px 0 0px; } }
  .review-btn span {
    display: block;
    color: #8a8e96;
    font-size: 13px;
    margin-top: 3px; }
  .review-btn .btn-outline-danger {
    color: #ff3a6d;
    border-color: #ff3a6d; }
    .review-btn .btn-outline-danger:hover {
      color: #fff;
      background: #ff3a6d; }

.reserve-btn {
  display: inline-block;
  vertical-align: top; }
  @media (max-width: 768px) {
    .reserve-btn {
      margin: -7px 0 0; } }
  @media (max-width: 576px) {
    .reserve-btn {
      margin: 0 0 0;
      width: 100%; } }

.custom-checkbox {
  color: #737882;
  font-size: 14px;
  line-height: 1.8;
  margin-right: 0; }
  .custom-checkbox span {
    padding: 0 10px 0 0; }

/* ==============================================================
   BOOKING DETAILS
   ============================================================== */
.booking-details_wrap {
  padding: 26px 0; }

.booking-checkbox_wrap {
  background: #fff;
  padding: 30px; }
  .booking-checkbox_wrap h5 {
    color: #3e434b;
    text-align: center;
    font-weight: 400; }

.booking-checkbox {
  color: #737882;
  font-size: 15px; }
  .booking-checkbox p {
    line-height: 1.8; }

.customer-review_wrap {
  display: inline-block;
  width: 100%; }

.customer-img {
  float: left; }
  @media (max-width: 992px) {
    .customer-img {
      text-align: center;
      float: none;
      margin: 0 0 15px; } }
  .customer-img img {
    border-radius: 50%; }
  .customer-img p {
    color: #3e434b;
    margin: 4px 0 0;
    text-align: center;
    font-size: 18px;
    line-height: 1.2; }
  .customer-img span {
    font-size: 14px;
    color: #737882;
    text-align: center; }

.customer-content-wrap {
  margin: 0 0 0 135px; }
  @media (max-width: 992px) {
    .customer-content-wrap {
      margin: 0 0 0 110px; } }
  @media (max-width: 992px) {
    .customer-content-wrap {
      margin: 0px; } }
  .customer-content-wrap ul {
    margin: 24px 0 0;
    padding: 0; }
    .customer-content-wrap ul li {
      list-style: none;
      display: inline-block;
      margin: 0 10px 0 0; }
      @media (max-width: 480px) {
        .customer-content-wrap ul li {
          margin: 0 0 10px 0; } }
  .customer-content-wrap span {
    color: #737882;
    display: inline-block;
    margin: 26px 0 0; }
  .customer-content-wrap a {
    border: 1px solid #ccc;
    color: #737882;
    font-size: 14px;
    border-radius: 3px;
    padding: 5px 10px;
    margin: 0 0 0 10px; }
    .customer-content-wrap a:hover {
      text-decoration: none; }
    .customer-content-wrap a span {
      margin: 0 6px 0 0; }

.customer-text {
  color: #737882;
  margin: 15px 0 0;
  line-height: 1.6; }

.customer-content h6 {
  color: #3e434b; }

.customer-content p {
  color: #737882;
  display: inline-block;
  vertical-align: top;
  line-height: 0.8;
  margin: 0 0 0 8px; }

.customer-review {
  display: inline-block; }
  @media (max-width: 576px) {
    .customer-review {
      display: block; } }
  .customer-review span {
    width: 10px;
    height: 10px;
    background: #46cd38;
    border-radius: 50%;
    display: block;
    float: left;
    margin: 0 5px 0 0; }

.round-icon-blank {
  background: #d9dce7 !important; }

.round-icon-red {
  background: #ff5a5a !important; }

.round-icon-orange {
  background: #ffbb27 !important; }

.customer-rating {
  background: #46cd38;
  padding: 8px 14px;
  float: right;
  font-size: 18px;
  color: #fff;
  border-radius: 3px; }
  @media (max-width: 576px) {
    .customer-rating {
      float: none;
      display: inline-block; } }

.customer-rating-red {
  background: #ff5a5a !important; }

.customer-description {
  margin: 0 0 0 50px; }

.contact-info {
  background: #fff;
  padding: 0 0 6px;
  margin: 0 0 15px; }
  .contact-info img {
    width: 100%; }
  .contact-info label {
    color: #46cd38;
    font-size: 14px;
    padding: 0 0 0 50px; }
    @media (max-width: 992px) {
      .contact-info label {
        display: block; } }

.address {
  color: #737882;
  padding: 18px 0 0 16px; }
  .address > span {
    font-size: 18px;
    float: left;
    margin: 4px 0 0; }
  .address p {
    margin: 0 0 0 34px; }
  .address .featured-open {
    font-size: 13px;
    padding: 0 0 0 34px; }

.btn-contact {
  display: block;
  padding: 16px;
  margin: 12px 16px;
  border: 2px solid #ff3a6d;
  color: #ff3a6d;
  font-weight: 400; }
  .btn-contact:hover {
    background: #ff3a6d;
    border: 2px solid #ff3a6d; }

.follow {
  background: #fff; }
  .follow ul {
    margin: 0;
    padding: 0;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    text-align: center; }
    .follow ul li {
      list-style: none;
      padding: 13px 0;
      width: 33%; }
      @media (max-width: 1200px) {
        .follow ul li {
          padding: 12px 18px; } }
      .follow ul li:first-child, .follow ul li:nth-child(2) {
        border-right: 1px solid #ededed; }
      .follow ul li h6 {
        margin: 0; }
  .follow a {
    color: #ff3a6d;
    text-align: center;
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding: 14px 0; }

.follow-img {
  text-align: center;
  padding: 20px 16px;
  color: #3e434b; }
  .follow-img img {
    border-radius: 50%; }
  .follow-img h6 {
    margin: 11px 0 0; }

.social-counts span {
  font-size: 14px;
  color: #737882; }

.map-wrap {
  padding: 0; }

.map-fix {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 41.7%; }
  @media (max-width: 992px) {
    .map-fix {
      display: none;
      top: 17%;
      left: 0;
      width: 100%; } }
  @media (max-width: 480px) {
    .map-fix {
      top: 24%; } }
  @media (max-width: 365px) {
    .map-fix {
      top: 29.3%; } }

#map {
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=style.css.map */